In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

1. How likely is it that you roll doubles when rolling two dice?

In [2]:
np.random.seed(19)
n_simulations = n_rows = 10**5
n_dice_rolls = ncols = 2
rolls = np.random.choice([1,2,3,4,5,6], n_rows * ncols).reshape(n_rows, ncols)

df = pd.DataFrame(rolls)
mean = (df[0] == df[1]).mean()
mean

0.16748

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of 
 getting more than 3 heads?

In [3]:



# In order to solve this problame, we have head and tails, we are running the simulation 100,000 times, reshaping the array
# and converting it to a dataframe.


# We are then getting an array of boolean values based on the argument where the value is equal to head

# we are then summing the axis(rows) to see how many of the row have exactly three true value for heads


simulation = np.random.choice(["head", "tails"], 100_000 * 8, p = [.5,.5]).reshape(100_000, 8)
df = pd.DataFrame(simulation)
df1 = (df=="head")
(df1.sum(axis = 1) == 3).mean() # the probability of exactly three heads
(df1.sum(axis =1) > 3).mean() # probability of more than three heads

0.63805

3.There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. 
Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the 
two billboards I drive past both have data science students on them?

In [4]:


p = np.random.choice(['webdevelopment', 'datascience'], size = (100_000,2), p =(0.75, 0.25)).reshape(100_000, 2)
p_datascience = p ==['datascience', 'datascience']
(p_datascience.sum(axis =1)==2).mean()

# we solve this problem by putting the probability of webdev and datascience class

0.0623

4.Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [5]:
np.random.seed(29)
sim = np.random.normal(3, 1.5, size = (100_000, 5))
sim.mean()
weekly_demand = sim.sum(axis=1)
(weekly_demand < 17). mean()

0.7216

5. Compare Heights

Men have an average height of 178 cm and standard deviation of 8cm.

Women have a mean of 170, sd = 6cm.

If a man and woman are chosen at random, P(woman taller than man)?

In [6]:
np.random.seed(39)
p_m = np.random.normal(178,8,100_000)
p_w = np.random.normal(170,6,100_000)
p_w
p_m

(p_w > p_m).mean()

0.21044

6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

How likely is it that 450 students all download anaconda without an issue?

In [7]:
fails = np.random.choice(['fails', 'success'], size = (100_000, 50), p = (1/250, 249/250))

In [8]:
((fails == 'success').sum(axis=1) == 50).mean() # probability of 50 successes

0.8205

In [9]:
fails = np.random.choice(['fails', 'success'], size = (100_000, 100), p = (1/250, 249/250))
((fails == 'success').sum(axis=1) == 100).mean() # probability of 100 successes

0.6703

In [10]:
fails = np.random.choice(['fails', 'success'], size = (100_000, 150), p = (1/250, 249/250))
((fails == 'success').sum(axis=1) == 150).mean() # probability of 150 successes

0.54655

In [11]:
fails = np.random.choice(['fails', 'success'], size = (100_000, 450), p = (1/250, 249/250))
((fails == 'success').sum(axis=1) == 450).mean() # probability of 450 students downloading anaconda without an issue

0.16372

7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you 

haven't seen a food truck there in 3 days. How unlikely is this?

How likely is it that a food truck will show up sometime this week?

In [12]:
trucks= np.random.choice(['seen', 'no_seen'], size = (100_000,3), p = ([0.7, 0.3]))
((trucks == 'no_seen').sum(axis = 1) == 3).mean()

0.02721

In [13]:
# likelihood that the foodtruck will show up sometime this week
trucks= np.random.choice(['seen', 'no_seen'], size = (100_000,7), p = ([0.7, 0.3]))
((trucks == 'seen').sum(axis = 1) >= 1).mean()

0.99974

8.If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [15]:
birthday = np.random.choice(range(365),size = (100_000, 23)) # first we are getting 23 samples from the size of 365

df = pd.DataFrame(birthday)
df['n_unique']=df.nunique(axis = 1)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,n_unique
0,139,141,38,70,57,339,9,188,192,93,...,9,206,262,336,38,320,165,56,180,21
1,308,112,187,218,115,158,214,116,362,36,...,31,191,55,292,118,317,330,183,30,23
2,248,151,344,37,9,289,343,298,50,241,...,179,124,246,344,51,147,185,157,266,22
3,311,205,247,154,276,332,93,23,276,111,...,70,171,222,328,60,69,174,235,345,22
4,210,340,200,148,1,319,174,173,65,292,...,325,220,37,243,340,226,234,284,48,22

In [16]:
# probability of all of them having a unique birthday
(df.n_unique == 23).mean()

# # finding the probability of people sharing birthday

(df.n_unique != 23).mean()

0.50751

In [17]:
# for 20 people

birthday = np.random.choice(range(365),size = (100_000, 20)) # first we are getting 20 samples from the size of 365

df = pd.DataFrame(birthday)
df['n_unique']=df.nunique(axis = 1)
df.head()
(df.n_unique != 20).mean()

0.41362

In [18]:
# for 40 people
birthday = np.random.choice(range(365),size = (100_000, 40)) # first we are getting 40 samples from the size of 365

df = pd.DataFrame(birthday)
df['n_unique']=df.nunique(axis = 1)
df.head()
(df.n_unique != 40).mean()

0.89098

Chuck a Luck - https://gist.github.com/ryanorsinger/eac1d7b7e978f90b8390bdc056312123

In [78]:
np.random.seed(17)
results = np.random.choice([1,2,3,4,5,6], size=(1_000_000, 3), p = [1/6,1/6,1/6,1/6,1/6,1/6]).reshape(1_000_000, 3)
pick = np.random.choice([1,2,3,4,5,6], size = 1, p = [1/6,1/6,1/6,1/6,1/6,1/6])
pick

win_rate = ((results ==pick).sum(axis = 1) >=1).mean()
winnings_after_many_games = win_rate * 1 * 1_000_000  # playing 1000000 games
winnings_after_many_games # winnings after 1000000 games
loss = (1 * 1_000_000) - winnings_after_many_games # loss after 1000000 games
loss

579025.0